  .footer {
    padding: 4rem 6rem;
    background-color: #000;
    color: #fff;
  }
  
  .top {
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .top i {
    color: #fff;
    font-size: 2rem;
    margin-left: 1rem;
    text-decoration: none;
  }
  
  .bottom {
    padding-top: 2rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .bottom div {
    display: flex;
    flex-direction: column;
  }
  
  .bottom h4 {
    font-size: 1.3rem;
    padding: 1rem 0 0.4rem 0;
  }
  
  .bottom a {
    text-decoration: none;
    color: #fafafa;
    padding-bottom: 0.4rem;
    font-size: 1.3rem;
  }
  .bottom a:hover {
    text-decoration: underline;
    background-color: transparent;
  }
  
  @media screen and (max-width: 850px) {
    .footer {
      padding: 4rem 2rem;
    }
  
    .footer i {
      margin: 1rem 1rem 0 0;
    }
  
    .bottom div {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 412px) {
    .footer {
      padding: 3rem 1rem;
    }
  
    .top {
      justify-content: center;
      text-align: center;
      margin-bottom: 2rem;
    }
  
    .top div {
      margin-bottom: 1rem;
    }
  
    .bottom {
      flex-wrap: wrap;
    }
  
    .section {
      flex-basis: 100%;
      margin-bottom: 2rem;
    }
  }

  @media screen and (max-width: 280px) {
    .footer {
      width: 100%;
    }
  
    .top {
      flex-direction: column;
      text-align: center;
    }
  
    .top div {
      margin-bottom: 0.5rem;
    }
  
    .bottom {
      flex-wrap: wrap;
    }
  
    .section {
      flex-basis: 100%;
      margin-bottom: 1.5rem;
    }
  }
  
  @media screen and (max-width: 820px) {
    .footer {
      padding: 3rem 1.5rem;
    }
  
    .top {
      flex-direction: column;
      text-align: center;
      margin-bottom: 2rem;
    }
  
    .top div {
      margin-bottom: 1rem;
    }
  
    .bottom {
      flex-wrap: wrap;
    }
  
    .section {
      flex-basis: 50%;
      margin-bottom: 1.5rem;
    }
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #000;
    transition: color 0.3s, transform 0.3s;
  }
  
  .social-icons a:hover {
    transform: scale(1.2);
    background-color: transparent;
  }
  
  .social-icons a i {
    font-size: 30px;
  }
  
  .social-icons a:hover .fab.fa-facebook-square {
    color: blue;
  }
  
  .social-icons a:hover .fab.fa-instagram-square {
    background-color: #C13584;
  }
  
  .social-icons a:hover .fab.fa-twitter-square {
    background-color: #1DA1F2;
  }
  